@import './styles/variables.css';
@import './styles/cb-components.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-property: background-color, border-color, color;
  transition-duration: 150ms;
}
